.styleForP {
    font-size: 1.2rem;
    font-family: "Dancing Script", cursive;
    font-style: italic;
}

.styleForH3 {
    font-size: 1.5rem;
    font-family: "Cinzel", serif;
}

.styleForLink {
    color: #D8C781;
    font-size: 1.2rem;
    font-family: "Cinzel", serif;
}