body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fullPageHeader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #111, #333);
    text-align: center;
}

.fullPageAbout {
    height: 100vh;
    display: flex;
    background: linear-gradient(to bottom, #111, #333);
    text-align: center;
}

.fullPageServices {
    height: 117vh;
    display: flex;
    background: linear-gradient(to bottom, #111, #333);
}

.fullPageContact {
    height: 120vh;
    display: flex;
    background: linear-gradient(to bottom, #111, #333);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullPageReviews {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #111, #333);
    text-align: center;
}

